html {
  scroll-behavior: smooth;
}

html, body {
	margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
	overflow-x: hidden;
  scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
  background-color: #efeeee;
}

.copyrightbanner {
  padding-bottom: 0px;
}
.hero-img img {
  height: auto;
  /*navbar height is 56, to offset height difference*/
  margin-top: 56px;
  height: 400px;
  width: 100%;
  background-color: rgb(58, 57, 57);
  object-fit: scale-down;
}

@media screen and (max-width: 767px) {
  .hero-img img {
    height: 225px;
    width: 100%;
    max-width: 100%;
    object-fit: fill;
  }
}

#navbar {
  background-color: rgb(232, 232, 232);
}

#navbar2 {
  background-color: rgb(232, 232, 232);
}

#navbarNav {
  padding-right: 15%;
}
 
.navbar-brand {
  padding-left: 15%;
}

img {
  width: inherit;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

#aboutus p{
  margin: 0 auto;
  padding: 0 3% 0 3%; 
  width: inherit;
  font-size: 1em;
  line-height: 1.45em;
  letter-spacing: .05em;
  color: rgb(64, 64, 64);
  word-spacing: normal;
}

#aboutus h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

#aboutus h4{
  color: rgb(64, 64, 64);
  padding: 0 5% 0 5%;
}

#location-section src{
  width: inherit;
  margin: 0 auto;
}

#navbar {
  width: inherit;
  /*text-align: center;*/
  position: fixed;
}


.warranty-header {
  padding-top: 20px;
}

figure {
  height: 100px;
}

#buyphoneimg {
  padding-top: 14%;
}

/*Setting color for buy section prices*/
#buypricing .flex-item {
  color: #007bff;
}

#buystorage .flex-item {
  font-weight: 500;
}

#iphonedropdown {
  /*padding-right: 30px;*/
  height: 300px;
}

/*home page iphone img*/
.iphonedropdownimg img{
  height: 300px;
  object-fit: fill;
}

#samsungdropdown {
  /*padding-left: 30px;*/
  height: 300px;
}

/*home page samsung img*/
.samsungdropdownimg img{
  height: 300px;
  object-fit: fill;
}

/*this seems to affect the whole entire accordion card container (the entire card page is only highlighted 300px) so maybe I need to put a shared class on every col to make the height uniform*/
#iphoneimgcontainer {
padding: 20px;
}

/*don't understand how this works because the images are still different sizes (if I use object-fit: fill, it seems to work)*/
/*setting height and width of iphone images, as well as spacing them out a bit*/
#iphoneimgcontainer img {
  height: 200px;
  width: auto;
  padding-top: 30px;
}

/*Setting space between the phone pictures in buy section*/
#phoneimgcontainer img {
  padding-top: 30px;
}


picture {
  width: 250px;
  height: auto;
}

/*Setting img and container height for repair section select device images*/
#repairdevices .container {
  margin-top: 50px;
}

#repairdevices .selectdevice {
  padding-top: 20px;
  padding-bottom: 20px;
}


#repairdevices h1 {
  margin-bottom: 40px;
}

#repairdevices .col {
  height: 300px;
  width: 100%;
}

#repairdevices img {
  padding-top: 10px;
  height: 230px;
  width: 230px;
  object-fit: scale-down;
}

.repair-img img{
  height: 200px;
  width: inherit;
  object-fit: scale-down;
}

/* removes the lines from the accordion */
#accordion .card {
    border: none;
    box-shadow: none;
}

/* contact form css */
form input {
  margin: 20px;
}


form .col{
 padding: 20px;
}

form textarea {
  height: 155px;
  margin: 20px;
}

#contact-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

#message {
  padding: 100px;
}

/*should probably put a class on this specific h1*/
#iphonecard h1 {
  margin-top: 50px;
  margin-bottom: 50px;

}

#ipadcard .ipadmodel {
  padding-bottom: 50px;
  padding-top: 50px;
}

#back-button {
  position: fixed;
 
  margin-top: 56px;

}

/*need to center buttons on page*/
#backbutton2 {
 /*position: fixed;*/
  
  /*margin-left: 800px;*/
}

#backbutton3 {
  /*position: fixed;*/
  /*margin-right: 100px;*/
  
  
}

@media (max-width: 514px) {
  .fixed-top {
    position: relative !important;
    top: auto !important;
    transform: none !important;
    box-shadow: none !important;
  }
}

.d-flex img{
  height: 200px;
  width: inherit;
  object-fit: scale-down;
}

/*Mac Styling*/
#macsubcardcol {
  background-color: blue;
  height: 400px;
}

#macsubcardcol img {
  height: 200px;
  object-fit: scale-down;
}

#macsubcardcol h5 {
  padding-top: 30px;
}

#mac-repairs {
  padding-top: 75px;
  padding-bottom: 75px;
}

#mac-repairs h1{
  padding-top: 40px;
}

#mac-repairs .col{
  height: 400px;
}

#mac-repairs .img-fluid {
  height: 300px;
  width: 300px;
  object-fit: scale-down;
  padding-top: 40px;
}

#mac-repairs .order-2 {
  color: #007bff;
}

#microsolderingcard {
  margin-bottom: 160px;
  margin-top: 160px;
}

.mobodescription h1 {
  padding-bottom: 40px;
}

.mobodescription bold {
  padding-bottom: 200px;
}

#microsoldering col {
  height: 400px;
}

#microsolderingcol img {
  height: 300px;
  object-fit: scale-down;
}

#microsolderingcol .order-2 {
  color: #007bff;
}

#repairmicrosoldering img {
  width: 200px;
}




/*This doesn't seem to work*/
#srscard img {
  height: 400px;
  object-fit: scale-down;
}

#srscard {
  padding-top: 40px;
}

#srscard h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#srscard #srspricecol {
  padding-top: 40px;
  padding-bottom: 40px;
}

#srscard .order-1 {
  padding-bottom: 40px;
}

#srscard .order-2 {
  color: #007bff;
}

#srsbutton {
  padding-top: 10px;
}

.mobodescription {
  font-size: 1.1em;
}

#ipadmodels {
padding-top: 80px;
}



.ipad-img img {
  height: 200px;
  object-fit: scale-down;
  margin-top: 50px;
}

/*Styling for phone repair container*/
#phonerepaircontainer {
  padding-bottom: 105px;
  padding-top: 105px;
  position: relative;
}




#phonerepaircontainer .img-fluid {
  height: 300px;
  width: 300px;
  object-fit: scale-down;
  padding-top: 40px;
}

#phonerepaircontainer h3 {
  margin-bottom: 100px;
}

#phonerepaircontainer .order-1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#phonerepaircontainer .order-2 {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}

/*Styling for android img conainer*/

#androidimgcontainer {
  padding-top: 70px;
  padding-bottom: 45px;
}

#androidimgcontainer .d-flex{
  padding-bottom: 10px;
}

#androidimgcontainer h1{
  padding-top: 15px;
  padding-bottom: 35px;
}

#androidimgcontainer col{
  height: 400px;
}

#androidimgcontainer bold {
  padding-bottom: 200px;
}

#androidimgcontainer .img-fluid {
  height: 300px;
  width: 300px;
  object-fit: scale-down;
  padding-top: 40px;


}

/*#androidimgcontainer h3*/

#androidimgcontainer  .order-1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

#androidimgcontainer .order-2 {
  font-size: 1rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}



#flexbox .flex-row {
  margin-left: 10px;
  text-align: center;
}

form {
  margin-right: 45px;
}
