html {
  scroll-behavior: smooth;
}

html, body {
	margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
	overflow-x: hidden;
  scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
  background-color: #efeeee;
}

.hero-img img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

#navbarNav {
  padding-left: 40%;
}

.navbar-brand {
  padding-left: 20%;
}

img {
  width: inherit;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

#aboutus p{
  margin:0 auto;
  padding: 0 5% 0 5%; 
  width: inherit;
  font-size: 1em;
  line-height: 1.45em;
  letter-spacing: .05em;
  color: rgb(64, 64, 64);
  text-align: justify;
}
#aboutus h4{
  color: rgb(64, 64, 64);
  padding: 0 5% 0 5%;
}

#location-section src{
  width: inherit;
  margin: 0 auto;
}

#navbar {
  width: inherit;
  margin: 0 auto;
  text-align: center;
  position: fixed;
}

.warranty-header {
  margin-top: 10px;
}

figure {
  height: 100px;
}

#buyphoneimg {
  margin: 10% auto;
}

#iphonedropdown {
  padding-right: 30px;
  height: 300px;
}

/*home page iphone img*/
.iphonedropdownimg img{
  height: 300px;
  object-fit: fill;
}

#samsungdropdown {
  padding-left: 30px;
  height: 300px;
}

/*home page samsung img*/
.samsungdropdownimg img{
  height: 300px;
  object-fit: fill;
}

/*this seems to affect the whole entire accordion card container (the entire card page is only highlighted 300px) so maybe I need to put a shared class on every col to make the height uniform*/
#iphoneimgcontainer {
padding: 20px;
}

/*don't understand how this works because the images are still different sizes (if I use object-fit: fill, it seems to work)*/
/*setting height and width of iphone images, as well as spacing them out a bit*/
#iphoneimgcontainer img {
  height: 200px;
  width: auto;
  padding-top: 30px;
}

/*Setting space between the phone pictures in buy section*/
#phoneimgcontainer img {
  padding-top: 30px;
}


picture {
  width: 250px;
  height: auto;
}

/*setting margin to space out images*/
.repair-img img{
  height: 200px;
  width: inherit;
  object-fit: scale-down;
}

/* removes the lines from the accordion */
#accordion .card {
    border: none;
    box-shadow: none;
}

/* form css */
form input {
  margin: 20px;
}


form .col{
 padding: 20px;
}

form textarea {
  height: 155px;
  margin: 20px;
}

#message {
  padding: 100px;
}

#repairdevices .container {
  margin-top: 50px;
}

/*should probably put a class on this specific h1*/
#iphonecard h1 {
  margin-top: 50px;
  margin-bottom: 50px;

}

#repairdevices .selectdevice {
  margin-top: 0px;
  padding-bottom: 20px;
}

#repairdevices h1 {
  margin-bottom: 40px;
}

#ipadcard .ipadmodel {
  padding-bottom: 50px;
  padding-top: 50px;
}

#back-button {
  position: fixed;
  margin-top: 50px;
}

#backbutton2 {
  position: fixed;
  margin-top: 5px;
}

#backbutton3 {
  position: fixed;
  margin-top: 5px;
}

.d-flex img{
  height: 200px;
  width: inherit;
  object-fit: scale-down;
}

#macsubcardcol {
  background-color: blue;
  height: 400px;
}

#macsubcardcol img {
  height: 200px;
  object-fit: scale-down;
}

#macsubcardcol h5 {
  padding-top: 30px;
}

#microsolderingcard {
  margin-bottom: 160px;
  margin-top: 160px;
}

.mobodescription h1 {
  padding-bottom: 40px;
}

.mobodescription bold {
  padding-bottom: 200px;
}

#microsoldering col {
  background-color: blue;
  height: 400px;
}

#microsolderingcol img {
  height: 300px;
  object-fit: scale-down;
}

.mobodescription {
  font-size: 1.1em;
}

#ipadmodels {
padding-top: 80px;
}

.ipad-img img {
  height: 200px;
  object-fit: scale-down;
  margin-top: 50px;
}

/*Styling for phone repair container*/
#phonerepaircontainer {
  background-color: blue;
  padding-bottom: 155px;
  padding-top: 155px;
}

#phonerepaircontainer img {
  height: 280px;
  width: auto;
  padding-top: 40px;
}

#phonerepaircontainer h3 {
  margin-bottom: 100px;
}
